/* Basic Offcanvas Positioning */
#uc-menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: white;
  z-index: 9999;
  box-shadow: -3px 0 10px rgba(0,0,0,0.2);

  transform: translateX(100%);
  transition: transform .3s ease-in-out;
}

/* When open */
#uc-menu-panel.open {
  transform: translateX(0);
}
